DEBUG = False
DEBUG_LOG = 'logs/debug.log'
ERROR_LOG = 'logs/error.log'

ADMINS = ('user@domain.com',)
TITLE = 'PyRemote'
AUTHOR = 'Akretion'
SECRET_KEY = 'C5G94WB6BVRPHTO85RGI2Y6TM6HYY0P'

SUPPORT_SERVER='mysupportserver@akretion.com'

